*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'raleway', sans-serif;
    min-height: 100vh;
}

/* HEADER */

.navbar a {
    text-decoration: none;
}

/* CSS NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 3rem;

    background: #F2F6F9;
    height: 4rem;

}

.navbar span {
    color: #afb8c2;

    font-family: 'lobster', sans-serif;
}

.btn-container {
    display: flex;
}

.btn-enter {
    color: #2495F2;
    background: transparent;

    border: none;

    display: flex;
    align-items: center;

    height: 4rem;

    padding: 0 3rem;

    transition: all 0.5s ease;

    cursor: pointer;
}
.btn-enter:hover {
    background: #cfd5dd;
}

.btn-navbar {
    background: transparent;

    border: none;

    display: flex;
    align-items: center;

    height: 4rem;

    padding: 0 3rem;

    transition: all 0.5s ease;

    cursor: pointer;
}
.btn-navbar:hover {
    background: #cfd5dd;
}
.active {
    color: #2495F2;
}
/* FIM CSS NAVBAR */

main {
    display: flex;
    flex-direction: column;
}

/* CSS SLIDER */
.slider {
    margin: 0 auto;

    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;

    transition: 2s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    display: flex;
    justify-content: center;

    position: absolute;
    width: 100%;
    margin-top: -60px;
}

.manual-btn {
    border: 2px solid #fff;
    border-radius: 10px;

    padding: 5px;
    cursor: pointer;

    transition: all 1s ease;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first .manual-btn{
    margin-left: 0;
    background-color: #fff;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}
/*FIM CSS SLIDER */

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome  h1{
    color: #2495F2;

    margin-bottom: 1rem;
}

.info-container {
    display: flex;
    justify-content: center;

    margin: 3rem 0;

    width: 100%;
}

.info-card {
    display: flex;
    justify-content: space-between;

    height: 15rem;
    width: 60%;

    
    background: #E8EBEE;
    
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70%;

    padding: 2rem;

    background: #2495F2;
    color: white;

    gap: 1rem;
}

.info span {
    font-size: 14pt;
}

.support {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 3rem 0;
}

.support  h1{
    color: #2495F2;

    margin-bottom: 1rem;
}

.supporters {
    display: flex;

    justify-content: center;

    margin-bottom: 6rem ;

    gap: 2rem;
}

.supporters-card {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    height: 20rem;
    width: 20rem;

    background: #E8EBEE;

}

.description {
    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 1rem;

    background: #2495F2;
    color: white;

    gap: 0.5rem;
}

.Schedule {
    display: flex;

    padding: 0 6rem;

    margin-bottom: 6rem;
}

.Schedule-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #2495F2;

    width: 100%;

    padding: 2rem;

    border-radius: 1rem;

    color: white;

    gap: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    background: #3f3f3f;
    height: 20rem;

    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;

    align-items: center;

    padding: 3rem;
}

.logo {
    height: 10rem;
    width: 10rem;
}

.logo img{
    height: 100%;

    opacity: 0.1;
}

.social {
    height: 10rem;
    width: 10rem;

}

footer h2{
    margin-bottom: 1rem;
}

footer a{
    cursor: pointer;
}

.copyright {
    display: flex;

    height: 3rem;

    justify-content: center;
    align-items: center;

    background: #2f2f2f;
}

.copyright i {
    margin-right: 0.5rem;
}
